@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/********************************************************************************
　--common
*********************************************************************************/

.w60 {
    width: 60% !important;

    @include sp_only {
        width: 100% !important;
    }
}

.w70 {
    width: 70% !important;

    @include sp_only {
        width: 100% !important;
    }

}

.w80 {
    width: 80% !important;

    @include sp_only {
        width: 100% !important;
    }

}

.w90 {
    width: 90% !important;

    @include sp_only {
        width: 100% !important;
    }

}

.w100 {
    width: 100% !important;

    @include sp_only {
        width: 100% !important;
    }

}

/* --headline
************************************/

.headline1 {
    @extend .mb;
    @include size(18, 26);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
    position: relative;
}

.headline1:before {
    content: '';
    position: absolute;
    top: 8px;
    margin-left: -6px;
    display: inline-block;
    width: 122px;
    height: 46px;
    background-size: contain;
    vertical-align: middle;

    @include sp_only {
        content: '';
        top: 12%;
        display: inline-block;
        width: 230px;
        height: 25px;
        background-size: contain;
        vertical-align: middle;

        @include sp_only {
            width: 82px;
            height: 32px;
        }
    }
}

.headline1.pink:before {
    content: '';
    background-image: url(../images/headline_pink.svg);
}

.headline1.green:before {
    content: '';
    background-image: url(../images/headline_green.svg);
}

.headline1 span.text {
    position: relative;

}

.headline2 {
    @extend .mb;
    @include size(18, 24);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
    color: #333333;
}

.headline2 span.line {
    display: inline-block;
    border-bottom: 2px dashed $keycolor1;
    padding: 0 15px 10px;

    @include sp_only {
        line-height: 1.6;
    }
}

.headline3 {
    @include margin-bottom(2%, 15px, 15px);
    @extend .fsize_l;
    @include size(15, 18);
    border-left: 4px solid $keycolor2;
    padding-left: 10px;
    line-height: 1.1;

    @include sp_only {
        line-height: 1.3;
    }

}

.headline4 {
    @include size(16, 20);
    font-weight: bold;
    color: #d80000;
    text-align: left;
    position: relative;
    padding-left: 30px;
    top: -2px;
    margin-bottom: 5px;

    @include sp_only {
        padding-left: 25px;
    }

}

.headline4:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 8px;
    background: #fcd6d4;

    @include sp_only {
        width: 17px;
        height: 17px;
        top: 7px !important;
    }
}

/* --btn
************************************/
.linkbtn1 a {
    border: 1px solid $keycolor2;
    display: inline-block;
    color: #fff !important;
    border-radius: 7px;
    background: $keycolor2;
    @include padding(3px 4%, 10px 138px 10px 130px);
    @extend .fsize;
    @include vender(transition, all 0.3s ease);
    position: relative;

    &:hover {
        background: #fff;
        color: $keycolor2 !important;
        @include vender(transition, all 0.3s ease);
    }

    @include sp_only {
        padding: 10px 4%;
        width: 100%;
        text-align: center;
    }
}

.linkbtn1 a:after {
    position: absolute;
    top: 52%;
    right: 12px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.linkbtn2 a {
    background: #c73c25;
    position: relative;
    border: 1px solid #c73c25;
    display: inline-block;
    color: #fff !important;
    @include padding(10px 14% 10px 10%, 10px 70px 10px 70px);
    @include size(13, 20);
    @include vender(transition, all 0.3s ease);
    @include border-radius(10px);

    &:hover {
        background: #d7513b !important;
        @include vender(transition, all 0.3s ease);
    }

    &:after {
        position: absolute;
        content: url(../images/download_icon.png);
        top: 12px;
        right: 10px;

        @include sp_only {
            top: 5px;
            right: 5px;
        }
    }
}

.linkbtn3 a {
    background: #777474;
    position: relative;
    border: 1px solid #777474;
    display: inline-block;
    color: #fff !important;
    @include padding(10px 14% 10px 10%, 10px 70px 10px 70px);
    @include size(13, 20);
    @include vender(transition, all 0.3s ease);
    @include border-radius(10px);

    @include sp_only {
        width: 100%;
        text-align: center;
    }

    &:hover {
        background: #949292 !important;
        @include vender(transition, all 0.3s ease);
    }

    &:after {
        position: absolute;
        content: url(../images/download_icon.png);
        top: 12px;
        right: 10px;

        @include sp_only {
            top: 10px;
            right: 5px;
        }
    }
}

.linkbtn4 a {
    background: #2687a8;
    position: relative;
    border: 1px solid #2687a8;
    display: inline-block;
    color: #fff !important;
    @include padding(10px 14% 10px 10%, 10px 70px 10px 70px);
    @include size(15, 22);
    @include vender(transition, all 0.3s ease);
    @include border-radius(10px);

    &:hover {
        background: #20738f !important;
        @include vender(transition, all 0.3s ease);
    }

    &:after {
        content: "";
        position: absolute;
        box-sizing: border-box;
        right: 14px;
        top: 34%;
        width: 18px;
        height: 18px;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    &:before {
        content: "";
        position: absolute;
        right: 22px;
        top: 46%;
        width: 5px;
        height: 5px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    @include sp_only {
        width: 100%;
        text-align: center;
    }
}

.linkbtn6 a {
    background: #fff;
    position: relative;
    border: 1px solid #2687a8;
    display: inline-block;
    color: #2687a8 !important;
    @include border-radius(10px);
    @include padding(7px 10%, 7px 50px);
    @extend .fsize;
    @include vender(transition, all 0.3s ease);

    &:hover {
        background: #2687a8;
        color: #fff !important;
        @include vender(transition, all 0.3s ease);
    }

    &:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 19px;
        width: 6px;
        height: 6px;
        border-top: 1px solid #2687a8;
        border-right: 1px solid #2687a8;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    @include sp_only {
        width: 100%;
        text-align: center;
    }
}

/* 　　--table
************************************/

table.style2 {
    width: 100%;
}

table.style2 th {
    @include width(100%, 25%);
    text-align: left;
    background: #f2f1f0;
    @include size(14, 16);
    @include padding(1% 2%, 17px 30px 15px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    @include sp_only {
        display: block;
        border-bottom: none;
    }
}

table.style2 td {
    text-align: left;
    background: #fff;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    @include size(14, 16);
    @include padding(1% 2%, 17px 30px 15px);

    @include sp_only {
        display: block;
        border-bottom: none;
        width: 100%;
    }
}





table.style01 {
    width: 100%;
    @include size(13, 16);

    @include sp_only() {
        display: block;
        border-bottom: 1px solid #CCCCCC;
    }
}

table.style01 tbody,
table.style01 tr {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

table.style01 th {
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    @include padding(2% 4% 0%, 19px 30px 17px);

    @include sp_only() {
        display: block;
        border-bottom: none;
    }

    @include tab() {
        width: 240px;
        border-bottom: 1px solid #CCCCCC;
    }
}

table.style01 td {
    text-align: left;
    border-bottom: 1px solid #cccccc;
    @include padding(0% 4% 2%, 19px 30px 17px);

    @include sp_only() {
        display: block;
        width: 100%;
    }
}

table.style01 tr:last-of-type td {
    @include sp_only() {
        border-bottom: none;
    }
}

table.style01 {
    width: 100%;

    @include sp_only() {
        display: block;
        border-bottom: 1px solid #CCCCCC;
    }
}

table.style02 {
    width: 100%;
}

table.style02 th {
    text-align: center;
    background: #EFF2E4;
    font-weight: bold;
    @include size(13, 16, 16);
    @include padding(2%, 21px 40px 19px);
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;

    @include sp_only() {
        display: block;
        border-bottom: none;
    }

    @include tab() {
        width: 200px;
    }

}

table.style02 tr th:last-of-type {
    border-right: 1px solid #CCCCCC;
}

table.style02 tr:first-of-type th {
    border-top: 1px solid #CCCCCC;
}

table.style02 tr:last-of-type th {
    border-bottom: 1px solid #CCCCCC;

    @include sp_only {
        border-bottom: none;
    }
}

table.style02 th em {
    background: #e1091a;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    margin-left: 15px;
    @include size(12);
}

table.style02 td {
    text-align: left;
    background: #fff;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    @include size(13, 16, 16);
    @include padding(2% 4%, 21px 40px 19px);
    border-bottom: 1px solid #CCCCCC;

    @include sp_only() {
        display: block;
        width: 100%;
        border-bottom: none;
    }
}

table.style02 th.bgcolor1 {
    background: #7d8cba;
    color: #fff;
}

table.style02 th.bgcolor2 {
    background: #a8aa5f;
    color: #fff;
}

table.style02 th.bgcolor3 {
    background: #5fa3b2;
    color: #fff;
}



table.style03 {
    width: 100%;
    @include size(14, 16);

    @include sp_only() {
        display: block;
        border-bottom: none;
    }
}

table.style03 tbody,
table.style03 tr {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

table.style03 th {
    text-align: center;
    width: 100%;
    background: #5da8ba;
    color: #fff;
    font-weight: bold;
    @include padding(2% 4% 2%, 17px 30px 15px);
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #999999;

    @include sp_only() {
        display: block;
        border: 1px solid #999999;
        text-align: left;
        margin-top: 4%;
    }

    @include tab() {
        width: 240px;
        border-bottom: 1px solid #cbcbcb;
    }
}

table.style03 tr th:last-of-type {
    border-right: 1px solid #999999;
}

table.style03 tr:first-of-type th {
    border-top: 1px solid #999999;

    @include sp_only() {
        margin-top: 0;
    }
}

table.style03 tr:last-of-type th {
    border-bottom: 1px solid #999999;
}

table.style03 th em {
    background: #e1091a;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    margin-left: 15px;
    @include size(12);
}

table.style03 td {
    text-align: center;
    background: #fff;
    text-align: left;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    @include padding(2% 4% 2% 2%, 17px 30px 15px);

    @include sp_only() {
        display: block;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        padding-left: 1em;
        text-indent: -1em;

        &:before {
            content: "・";
        }
    }

    @include tab() {
        border-bottom: 1px solid #999999;
    }
}



table.style04 {
    width: 100%;
}

table.style04 th {
    text-align: center;
    background: #5da8ba;
    color: #fff;
    font-weight: bold;
    @include size(11, 16, 16);
    @include padding(2%, 17px 30px 15px);
    border-top: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #999999;
}

table.style04 tr th:last-of-type {
    border-right: 1px solid #999999;
}

table.style04 tr:first-of-type th {
    border-top: 1px solid #999999;
}

table.style04 tr:last-of-type th {
    border-bottom: 1px solid #999999;

    @include sp_only {
        border-bottom: none;
    }
}

table.style04 tr:last-of-type {
    border-bottom: 1px solid #999999;
}

table.style04 th em {
    background: #e1091a;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    margin-left: 15px;
    @include size(12);
}

table.style04 td {
    text-align: center;
    background: #fff;
    text-align: left;
    border-top: 1px solid #999999;
    @include size(11, 16, 16);
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    @include padding(2%, 17px 30px 15px);
}

table.style04 {
    width: 100%;
    @include size(14, 16);
}

table.style04 td.underline {
    border-bottom: 1px solid #999999;
}

/* --form
************************************/

form input[type="radio"] {
    margin-right: 5px;
    position: relative;
    display: inline-block;
    top: 1px;
}

form input[type="text"],
input[type="mail"],
select {
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;
    font-family: $font_gothic;
    border: 1px solid #a7a7a7;

    @include tab() {
        width: auto;
    }
}

form textarea {
    border: 1px solid #a7a7a7;
    @include padding(7px 10px, 7px 10px);
    @include size(15, 16);
    margin: 4px 0;
    width: 100%;

    @include tab() {
        width: auto;
    }
}

form .w50 {
    @include tab() {
        width: 300px !important;
    }
}

form span.small {
    @include size(12);
}

form .mt {
    margin-top: 10px;
}

form .wide {
    width: 100%;
}

form label {
    margin-right: 20px;
}

form .submit_btn {
    text-align: center;
    margin-top: 40px;
}

form .submit_btn input {
    cursor: pointer;
    background: #c30000;
    color: #fff;
    padding: 15px 60px;
    display: inline-block;
    border: none;
}

.mw_wp_form_confirm span {
    display: none;
}

form .error {
    color: #f00;
    @include size(13);
    padding-left: 10px;
}

form .block label {
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}

/* --bg_color
************************************/
.bg_white {
    background: #fff;
}

.bg_pink {
    background: #F4EDE4;
}

.bg_green {
    background: #E0E5D1;
}

.bg_orange {
    background: #F4CD72;
}

.bg_img1 {
    background: url(../images/bg_img1.jpg) repeat;
    background-attachment: fixed;
}

/* --link_color
************************************/
.link_red {
    color: #c73c25 !important;
}

.link_red:hover {
    text-decoration: underline;
}

.link_blue {
    color: $keycolor1 !important;
}

.link_blue:hover {
    text-decoration: underline;
}

/* --font_color
************************************/
.font_red {
    color: #c73c25 !important;
}

.font_blue {
    color: $keycolor1 !important;
}


/* --img_center
************************************/
.img_center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

/* --sml
************************************/
.sml {
    @extend .fsize_xs;
}

/* --new
************************************/
.new:after {
    content: "new";
    margin-left: 5px;
    color: #fff;
    background: #c73c25;
    padding: 1px 3px;
    font-size: 12px;
}

/* 　　--photo_title
************************************/
/* 写真(下部)の上に説明文を重ねる */
.photo_title a {
    text-align: center;
    text-decoration: none;
}

.photo_title p {
    @include margin-top(5px, 10px);
    @include size(13, 14);
}

.photo_title figure {
    position: relative;
    overflow: hidden;
}

.photo_title figcaption {
    position: absolute;
    bottom: 36%;
    right: 0;
    z-index: 9999;
    width: 62%;
    background: #fff;
    -webkit-transition: .3s;
    opacity: 1;
    color: #000;
    @include size(13, 16, 18);
    @include padding(3px 10px 4px 4%, 3px 10px 4px);

    @include sp_only {
        bottom: 28%;
        width: 65%;
        text-align: left;
    }
}

.photo_title figcaption span {
    background: linear-gradient(transparent 70%, #fff385 0%);

}

.photo_title a:hover figcaption {
    background: $keycolor1;
    color: #fff;
}

.photo_title a:hover figcaption span {
    background: none;
}

.photo_title figure {
    border: 2px solid transparent;
}


.photo_title figcaption .center {
    text-align: center;
}

.photo_title figcaption .left {
    text-align: left;
}

.photo_title img {
    @include vender(transition, all 0.2s linear);
    width: 100%;
    height: auto;
}

.photo_title a:hover img {
    @include vender(transform, scale(1.1));
    opacity: 0.8;
}

.photo_title a:hover figure {
    border: 2px solid $keycolor1;
}

.photo_title a:hover .photo {
    opacity: 0.8;
}

.photo_title figcaption.white {
    background: #fff;
    color: #4d4d4d;
}

.photo_title figcaption.arrow:after {
    @include vender(transition, all 0.2s linear);
    content: url(../images/right_arrow.png);
    position: absolute;
    right: 10px;
    top: 2px;
}

.photo_title a:hover figcaption.arrow:after {
    right: 7px;
}

.photo_title.left_line {
    border-left: 2px solid #c40500;
}

@media screen and (max-width: 650px) {
    .photo_title a:hover figcaption {
        background: #fff;
        color: #000;
    }

    .photo_title a:hover img {
        @include vender(transform, scale(1.0));
        opacity: 1;
    }

}

/* 　　--image-hover
************************************/
.image-hover {
    position: relative;
    overflow: hidden;
    //    @include width(100%, 480px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-hover a img {
    @include vender(transition, all 0.2s linear);
    height: auto;
}

.image-hover a:hover img {
    @include vender(transform, scale(1.1));
    opacity: 0.8;
}

.image-hover a {
    position: relative;
    display: block;
}

.image-hover a:after {
    display: inline-block;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4) url(../images/icon_large.svg) no-repeat center center;
    background-size: 26px auto;
    width: 34px;
    height: 34px;

}

.lb-data .lb-caption {
    @include sp_only {
        font-size: 18px !important;
        font-size: 1.8rem !important;
    }
}



@include tab {


    figure.hover-snip {
        @include display(none, block, block);
        position: relative;
        overflow: hidden;
        width: 100%;
        background: #000000;
        color: #ffffff;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    figure.hover-snip * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    figure.hover-snip img {
        max-width: 100%;
        position: relative;
        opacity: 0.8;
    }

    figure.hover-snip figcaption {
        position: absolute;
        width: 200px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        padding: 25px 0;
        margin: 0 auto;
        border-width: 0px 3px;
        border-top: 3px solid #fff;
        background: rgba(94, 83, 71, 0.4)
    }

    figure.hover-snip h2 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: -1px;
        font-size: 21px;
    }

    figure.hover-snip h2 span {
        font-weight: 800;
    }

    figure.hover-snip .icon,
    figure.hover-snip .caption {
        overflow: hidden;
        width: 100%;
        position: absolute;
    }

    figure.hover-snip .icon {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 0;
    }

    figure.hover-snip .caption {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        bottom: 0;
    }

    figure.hover-snip p,
    figure.hover-snip .icon span {
        display: table;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
        text-align: center;
        width: auto;
        color: rgba(255, 255, 255, 0);
        font-size: 0.8em;
    }

    figure.hover-snip p:before,
    figure.hover-snip .icon span:before,
    figure.hover-snip p:after,
    figure.hover-snip .icon span:after {
        position: absolute;
        height: 3px;
        content: '';
        background: white;
        -webkit-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }

    figure.hover-snip .icon span:before,
    figure.hover-snip .icon span:after {
        width: 1000%;
        top: 50%;
    }

    figure.hover-snip .icon span:before {
        left: -1000%;
    }

    figure.hover-snip .icon span:after {
        right: -1000%;
    }

    figure.hover-snip i {
        color: white;
        font-size: 30px;
    }

    figure.hover-snip p:before,
    figure.hover-snip p:after {
        width: 150%;
        bottom: 50%;
    }

    figure.hover-snip p:before {
        left: -100%;
    }

    figure.hover-snip p:after {
        right: -100%;
    }

    figure.hover-snip a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
    }

    figure.hover-snip:hover img,
    figure.hover-snip.hover img {
        opacity: 0.15;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    figure.hover-snip:hover p,
    figure.hover-snip.hover p {
        opacity: 1;
        -webkit-transition-delay: 0.35s;
        transition-delay: 0.35s;
        color: #ffffff;
    }

    figure.hover-snip:hover p:before,
    figure.hover-snip.hover p:before {
        left: -150%;
    }

    figure.hover-snip:hover p:after,
    figure.hover-snip.hover p:after {
        right: -150%;
    }


}

input[type="submit"] {
    -webkit-appearance: none;
}

input[type=text] {
    font-size: 16px;
    border: 1px solid #ccc;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="button"],
input[type="text"],
input[type="submit"],
input[type="image"],
textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

@include tab_only {
    select {
        -webkit-appearance: button;
        appearance: button;
    }
}

@include sp_only {
    select {
        -webkit-appearance: button;
        appearance: button;
    }
}
