@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Oswald);
/* padding */
.pt_s, .list1 dl {
  padding-top: 2%; }
  @media screen and (min-width: 768px) {
    .pt_s, .list1 dl {
      padding-top: 10px; } }

.pt {
  padding-top: 4%; }
  @media screen and (min-width: 768px) {
    .pt {
      padding-top: 30px; } }

.pt_l {
  padding-top: 6%; }
  @media screen and (min-width: 768px) {
    .pt_l {
      padding-top: 50px; } }

.pb_s, .list1 dl {
  padding-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .pb_s, .list1 dl {
      padding-bottom: 10px; } }

.pb {
  padding-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .pb {
      padding-bottom: 30px; } }

.pb_l {
  padding-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .pb_l {
      padding-bottom: 50px; } }

/* margin */
.mt_s {
  margin-top: 2%; }
  @media screen and (min-width: 768px) {
    .mt_s {
      margin-top: 10px; } }

.mt {
  margin-top: 4%; }
  @media screen and (min-width: 768px) {
    .mt {
      margin-top: 30px; } }

.mt_l {
  margin-top: 6%; }
  @media screen and (min-width: 768px) {
    .mt_l {
      margin-top: 50px; } }

.mb_s {
  margin-bottom: 2%; }
  @media screen and (min-width: 768px) {
    .mb_s {
      margin-bottom: 10px; } }

.mb {
  margin-bottom: 4%; }
  @media screen and (min-width: 768px) {
    .mb {
      margin-bottom: 30px; } }

.mb_l {
  margin-bottom: 6%; }
  @media screen and (min-width: 768px) {
    .mb_l {
      margin-bottom: 50px; } }

/* font-size */
.fsize_xl {
  font-size: 18px;
  font-size: 1.8rem; }
  @media screen and (min-width: 768px) {
    .fsize_xl {
      font-size: 24px;
      font-size: 2.4rem; } }

.fsize_l {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .fsize_l {
      font-size: 20px;
      font-size: 2rem; } }

.fsize, ul.list2 li {
  font-size: 14px;
  font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    .fsize, ul.list2 li {
      font-size: 16px;
      font-size: 1.6rem; } }

.fsize_s, .grid_linkbtn .col a {
  font-size: 12px;
  font-size: 1.2rem; }
  @media screen and (min-width: 768px) {
    .fsize_s, .grid_linkbtn .col a {
      font-size: 14px;
      font-size: 1.4rem; } }

.fsize_xs {
  font-size: 10px;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .fsize_xs {
      font-size: 12px;
      font-size: 1.2rem; } }

/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p {
  margin-bottom: 1em; }
  div.textbox p:last-child {
    margin-bottom: 0; }

/* --
************************************/
/* pc:2col  */
.grid_col2 {
  width: 100%; }

.grid_col2 .col {
  float: left;
  width: 48%;
  margin-right: 4%;
  margin-bottom: 4%; }
  .grid_col2 .col:nth-child(2n) {
    margin-right: 0; }
  .grid_col2 .col:nth-child(2n+1) {
    clear: both; }

@media (min-width: 768px) and (max-width: 1040px) {
  .grid_col2.tab1 .col {
    width: 100%;
    margin-right: 0; }
    .grid_col2.tab1 .col:nth-child(2n) {
      margin-right: none; }
    .grid_col2.tab1 .col:nth-child(2n+1) {
      clear: none; } }

@media (max-width: 767px) {
  .grid_col2.sp1 .col {
    width: 100%;
    margin-right: 0; }
    .grid_col2.sp1 .col:nth-child(2n) {
      margin-right: none; }
    .grid_col2.sp1 .col:nth-child(2n+1) {
      clear: none; } }

/* pc:3col  */
.grid_col3 {
  width: 100%; }

.grid_col3 .col {
  float: left;
  width: 30.666%;
  margin-right: 4%;
  margin-bottom: 4%; }
  .grid_col3 .col:nth-child(3n) {
    margin-right: 0; }
  .grid_col3 .col:nth-child(3n+1) {
    clear: both; }

@media (min-width: 768px) and (max-width: 1040px) {
  .grid_col3.tab1 .col {
    width: 100%;
    margin-right: 0; }
    .grid_col3.tab1 .col:nth-child(3n) {
      margin-right: none; }
    .grid_col3.tab1 .col:nth-child(3n+1) {
      clear: none; } }

@media (min-width: 768px) and (max-width: 1040px) {
  .grid_col3.tab2 .col {
    width: 48%;
    margin-right: 4%; }
    .grid_col3.tab2 .col:nth-child(even) {
      margin-right: 0; }
    .grid_col3.tab2 .col:nth-child(odd) {
      clear: both; }
    .grid_col3.tab2 .col:nth-child(3n) {
      margin-right: none; }
    .grid_col3.tab2 .col:nth-child(3n+1) {
      clear: none; } }

@media (max-width: 767px) {
  .grid_col3.sp1 .col {
    width: 100%;
    margin-right: 0; }
    .grid_col3.sp1 .col:nth-child(3n) {
      margin-right: none; }
    .grid_col3.sp1 .col:nth-child(3n+1) {
      clear: none; } }

@media (max-width: 767px) {
  .grid_col3.sp2 .col {
    width: 48%;
    margin-right: 4%; }
    .grid_col3.sp2 .col:nth-child(even) {
      margin-right: 0; }
    .grid_col3.sp2 .col:nth-child(odd) {
      clear: both; }
    .grid_col3.sp2 .col:nth-child(3n) {
      margin-right: none; }
    .grid_col3.sp2 .col:nth-child(3n+1) {
      clear: none; } }

/* pc:4col  */
.grid_col4 {
  width: 100%; }

.grid_col4 .col {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  margin-bottom: 2%; }
  .grid_col4 .col:nth-child(4n) {
    margin-right: 0; }
  .grid_col4 .col:nth-child(4n+1) {
    clear: both; }

@media (min-width: 768px) and (max-width: 1040px) {
  .grid_col4.tab1 .col {
    width: 100%;
    margin-right: 0; }
    .grid_col4.tab1 .col:nth-child(4n) {
      margin-right: none; }
    .grid_col4.tab1 .col:nth-child(4n+1) {
      clear: none; } }

@media (min-width: 768px) and (max-width: 1040px) {
  .grid_col4.tab2 .col {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%; }
    .grid_col4.tab2 .col:nth-child(even) {
      margin-right: 0; }
    .grid_col4.tab2 .col:nth-child(odd) {
      clear: both; }
    .grid_col4.tab2 .col:nth-child(4n) {
      margin-right: none; }
    .grid_col4.tab2 .col:nth-child(4n+1) {
      clear: none; } }

@media (min-width: 768px) and (max-width: 1040px) {
  .grid_col4.tab3 .col {
    width: 30.666%;
    margin-right: 4%;
    margin-bottom: 4%; }
    .grid_col4.tab3 .col:nth-child(3n) {
      margin-right: 0; }
    .grid_col4.tab3 .col:nth-child(3n+1) {
      clear: both; }
    .grid_col4.tab3 .col:nth-child(4n) {
      margin-right: none; }
    .grid_col4.tab3 .col:nth-child(4n+1) {
      clear: none; } }

@media (max-width: 767px) {
  .grid_col4.sp1 .col {
    width: 100%;
    margin-right: 0; }
    .grid_col4.sp1 .col:nth-child(4n) {
      margin-right: none; }
    .grid_col4.sp1 .col:nth-child(4n+1) {
      clear: none; } }

@media (max-width: 767px) {
  .grid_col4.sp2 .col {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%; }
    .grid_col4.sp2 .col:nth-child(even) {
      margin-right: 0; }
    .grid_col4.sp2 .col:nth-child(odd) {
      clear: both; }
    .grid_col4.sp2 .col:nth-child(4n) {
      margin-right: none; }
    .grid_col4.sp2 .col:nth-child(4n+1) {
      clear: none; } }

@media (max-width: 767px) {
  .grid_col4.sp3 .col {
    width: 30.666%;
    margin-right: 4%; }
    .grid_col4.sp3 .col:nth-child(3n) {
      margin-right: 0; }
    .grid_col4.sp3 .col:nth-child(3n+1) {
      clear: both; }
    .grid_col4.sp3 .col:nth-child(4n) {
      margin-right: none; }
    .grid_col4.sp3 .col:nth-child(4n+1) {
      clear: none; } }

/* tablecol  */
ul.tablecol {
  display: table;
  width: 100%; }

ul.tablecol.col2 li {
  display: table-cell;
  width: 50%; }

ul.tablecol.col3 li {
  display: table-cell;
  width: 33.3333%; }

ul.tablecol.col4 li {
  display: table-cell;
  width: 25%; }

ul.tablecol.col5 li {
  display: table-cell;
  width: 20%; }

@media (max-width: 767px) {
  ul.tablecol.sp1 {
    display: block;
    width: 100%; } }

@media (max-width: 767px) {
  ul.tablecol.sp1 li {
    display: block;
    width: 100%; } }

/* list  */
.list1 dl {
  border-bottom: 1px solid #b2b2b2; }

@media print, screen and (min-width: 768px) {
  .list1 dl dt {
    width: 9em;
    float: left; } }

@media print, screen and (min-width: 768px) {
  .list1 dl dd {
    overflow: hidden; } }

.list1 a:hover {
  text-decoration: none !important;
  color: #2687a8; }

ul.list2 {
  width: 100%; }

ul.list2 li {
  padding-left: 1em;
  text-indent: -1em; }

.grid_linkbtn .col {
  float: left;
  width: 33.333%; }
  @media (min-width: 768px) and (max-width: 1040px) {
    .grid_linkbtn .col {
      display: block;
      width: 100%; } }
  @media (max-width: 767px) {
    .grid_linkbtn .col {
      display: block;
      width: 100%; } }

.grid_linkbtn .col a {
  position: relative;
  display: block;
  color: #fff !important;
  text-align: center;
  padding: 15px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .grid_linkbtn .col a:hover {
    background: #fff !important;
    color: #2687a8 !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .grid_linkbtn .col a:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    right: 14px;
    top: 34%;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .grid_linkbtn .col a:before {
    content: "";
    position: absolute;
    right: 22px;
    top: 46%;
    width: 5px;
    height: 5px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.grid_linkbtn .col:nth-child(1) a {
  background: #49a2ba;
  border: 1px solid #49a2ba; }

.grid_linkbtn .col:nth-child(2) a {
  background: #2687a8;
  border: 1px solid #2687a8; }

.grid_linkbtn .col:nth-child(3) a {
  background: #49a2ba;
  border: 1px solid #49a2ba; }

.grid_ptn1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%; }

.grid_ptn1 .photo {
  height: auto;
  width: 100%; }
  @media screen and (min-width: 480px) {
    .grid_ptn1 .photo {
      width: 50%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      justify-content: center; } }

.grid_ptn1 .photo iframe {
  width: 100%;
  height: 100%; }

.grid_ptn1 .photo img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block; }

.grid_ptn1 .text {
  width: 100%;
  padding: 4% 4% 6%;
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: left;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .grid_ptn1 .text {
      padding: 4% 4% 6%; } }
  @media screen and (min-width: 1040px) {
    .grid_ptn1 .text {
      padding: 4%; } }
  @media screen and (min-width: 480px) {
    .grid_ptn1 .text {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
      width: 50%; } }
  @media (max-width: 767px) {
    .grid_ptn1 .text {
      padding: 4%; } }

.grid_ptn1.type1 .text:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 38%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 25px 0;
  border-color: transparent #E10615 transparent transparent; }

.grid_ptn1.type2 .text:before {
  content: "";
  position: absolute;
  right: -25px;
  top: 38%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent #E77100; }

.type1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 480px) {
    .type1 {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }

.type2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 480px) {
    .type2 {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; } }

.type1 .text {
  background: #E10615;
  color: #000;
  position: relative;
  text-align: left;
  color: #fff; }

.type1 .text h3 {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .type1 .text h3 {
      font-size: 20px;
      font-size: 2rem; } }
  @media print, screen and (min-width: 1040px) {
    .type1 .text h3 {
      text-align: left; } }

.type2 .text {
  background: #E77100;
  color: #000;
  position: relative;
  text-align: right;
  color: #fff; }
  @media (max-width: 767px) {
    .type2 .text {
      text-align: left !important; } }

.type1 .text .outer,
.type2 .text .outer {
  width: 265px; }
  @media (max-width: 767px) {
    .type1 .text .outer,
    .type2 .text .outer {
      width: 100%; } }

.type2 .text .outer {
  margin-left: auto; }

.type2 .text h3 {
  font-size: 16px;
  font-size: 1.6rem; }
  @media screen and (min-width: 768px) {
    .type2 .text h3 {
      font-size: 20px;
      font-size: 2rem; } }
  @media print, screen and (min-width: 1040px) {
    .type2 .text h3 {
      text-align: right; } }

/*# sourceMappingURL=grid.css.map */
