@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/* --
************************************/

/* pc:2col  */

.grid_col2 {
    width: 100%;
}

.grid_col2 .col {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
    &:nth-child(2n) {
        margin-right: 0;
    }
    &:nth-child(2n+1) {
        clear: both;
    }
}

.grid_col2.tab1 .col {
    @include tab_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(2n) {
            margin-right: none;
        }
        &:nth-child(2n+1) {
            clear: none;
        }
    }
}

.grid_col2.sp1 .col {
    @include sp_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(2n) {
            margin-right: none;
        }
        &:nth-child(2n+1) {
            clear: none;
        }
    }
}

/* pc:3col  */

.grid_col3 {
    width: 100%;
}

.grid_col3 .col {
    float: left;
    width: 30.666%;
    margin-right: 4%;
    margin-bottom: 4%;
    &:nth-child(3n) {
        margin-right: 0;
    }
    &:nth-child(3n+1) {
        clear: both;
    }
}

.grid_col3.tab1 .col {
    @include tab_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(3n) {
            margin-right: none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}
.grid_col3.tab2 .col {
    @include tab_only() {
        width: 48%;
        margin-right: 4%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(3n) {
            margin-right:none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}
.grid_col3.sp1 .col {
    @include sp_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(3n) {
            margin-right: none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}

.grid_col3.sp2 .col {
    @include sp_only() {
        width: 48%;
        margin-right: 4%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(3n) {
            margin-right:none;
        }
        &:nth-child(3n+1) {
            clear: none;
        }
    }
}


/* pc:4col  */

.grid_col4 {
    width: 100%;
}

.grid_col4 .col {
    float: left;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;    
    &:nth-child(4n) {
        margin-right: 0;
    }
    &:nth-child(4n+1) {
        clear: both;
    }
}


.grid_col4.tab1 .col {
    @include tab_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(4n) {
            margin-right: none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}

.grid_col4.tab2 .col {
    @include tab_only() {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}
.grid_col4.tab3 .col {
    @include tab_only() {
        width: 30.666%;
        margin-right: 4%;
        margin-bottom: 4%;

        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(3n+1) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}

.grid_col4.sp1 .col {
    @include sp_only() {
        width: 100%;
        margin-right: 0;
        &:nth-child(4n) {
            margin-right: none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}

.grid_col4.sp2 .col {
    @include sp_only() {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
        &:nth-child(even) {
            margin-right: 0;
        }
        &:nth-child(odd) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}
.grid_col4.sp3 .col {
    @include sp_only() {
        width: 30.666%;
        margin-right: 4%;

        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(3n+1) {
            clear: both;
        }
        &:nth-child(4n) {
            margin-right:none;
        }
        &:nth-child(4n+1) {
            clear: none;
        }
    }
}


/* tablecol  */

ul.tablecol {
    display: table;
    width: 100%;
}

ul.tablecol.col2 li {
    display: table-cell;
    width: 50%;
}

ul.tablecol.col3 li {
    display: table-cell;
    width: 33.3333%;
}

ul.tablecol.col4 li {
    display: table-cell;
    width: 25%;
}

ul.tablecol.col5 li {
    display: table-cell;
    width: 20%;
}

ul.tablecol.sp1 {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

ul.tablecol.sp1 li {
    @include sp_only() {
        display: block;
        width: 100%;
    }
}

/* list  */
.list1 dl{
    border-bottom:1px solid $border_color;
    @extend .pt_s;
    @extend .pb_s;
}

.list1 dl:last-of-type {
    // border-bottom:none;
}

.list1 dl dt{
    @include tab() {
    width: 9em;
    float: left;
    }
    
}
.list1 dl dd{
        @include tab() {
overflow: hidden;   
}
}
.list1 a {
    &:hover {
        text-decoration: none!important;
        color: #2687a8 ;
    }
}

ul.list2 {
    width:100%;
}
ul.list2 li {
    @extend .fsize;
    padding-left:1em;
    text-indent:-1em;
}


.grid_linkbtn .col {
    float:left;
    width:33.333%;
    @include tab_only {
        display:block;
        width:100%;
    }
    @include sp_only {
        display:block;
        width:100%;
    }
}
.grid_linkbtn .col a {
    position:relative;
    display: block;
    color: #fff !important;
    text-align:center;
    @include padding(15px 0);
    @extend .fsize_s;
    @include vender(transition, all 0.3s ease);
    &:hover {
        background: #fff!important;
        color: #2687a8 !important;
        @include vender(transition, all 0.3s ease);
    }
    &:after {
        content:"";
        position:absolute;
        box-sizing: border-box;
        right: 14px;
        top:34%;
        width: 18px;
        height: 18px;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    &:before {
        content:"";
        position:absolute;
        right: 22px;
        top:46%;
        width: 5px;
        height: 5px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.grid_linkbtn .col:nth-child(1) a {
    background:#49a2ba;
    border: 1px solid #49a2ba;
}
.grid_linkbtn .col:nth-child(2) a {
    background:#2687a8;
    border: 1px solid #2687a8;
}
.grid_linkbtn .col:nth-child(3) a {
    background:#49a2ba;
    border: 1px solid #49a2ba;
}




.grid_ptn1 {
    @include flex_box();
    @include flex_row();
    width: 100%;
}

.grid_ptn1 .photo {
    height: auto;
    width:100%;

    @include sp {
        width:50%;
        @include flex_box();
        @include flex_col();
        justify-content: center;

    }
}
.grid_ptn1 .photo iframe {
    width: 100%;
    height: 100%;
}

.grid_ptn1 .photo img {
    max-width:100%;
    height:auto;
    margin: 0 auto;
    display:block;
}

.grid_ptn1 .text {
    width:100%;
    @include padding(4% 4% 6%,4% 4% 6%,4%);
    position: relative;
    height: auto;
    @include flex_box();
    @include flex_col();
    align-items: left;
    justify-content: center;
    @include sp {
        padding-top:40px;
        padding-left:40px;
        padding-right:40px;
        width:50%;
    }
    @include sp_only {
        padding:4%;
    }
}
.grid_ptn1.type1 .text:before {
    content: "";
    position: absolute;
    left:-25px;
    top:38%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 25px 0;
    border-color: transparent $keycolor2 transparent transparent;    
}
.grid_ptn1.type2 .text:before {
    content: "";
    position: absolute;
    right:-25px;
    top:38%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent $keycolor1;
}

.type1 {
    @include flex_col();
    @include sp {
        @include flex_row();
    }
}
.type2 {
    @include flex_col();
    @include sp {
        @include flex_row_reverse();
    }
}

.type1 .text {
    background: $keycolor2;
    color: #000;
    position: relative;
    text-align: left;
    color:#fff;
}

.type1 .text h3 {
    @include size(16,20);
    @include pc {
        text-align:left;
    }
}
.type2 .text {
    background: $keycolor1;
    color: #000;
    position: relative;
    text-align: right;
    color:#fff;
    @include sp_only {
        text-align: left!important;
    }

}

.type1 .text .outer,
.type2 .text .outer {
    width: 265px;
    @include sp_only {
        width: 100%;
    }
}
.type2 .text .outer {
    margin-left:auto;
}
.type2 .text h3 {
    @include size(16,20);
    @include pc {
        text-align:right;
    }
}
