@charset "utf-8";

@import "base/_config";
@import "base/_mixin";
@import "base/_extend";

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　共通箇所 (基本タグ設定)
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

html,
body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    background: $bg_body;
    text-align: center;
    line-height: 2;
    @include size(13, 16);
    color: $color_text;
    font-family: $font_family;
    -webkit-text-size-adjust: 100%;
}

.wrapper {
    width: 100%;
    margin: 0px auto;
    text-align: left;
    padding: 0 4%;

    @include pc() {
        width: $width_wrapper;
        padding: 0;
    }
}

.wrap-sm {
    @include padding(0 4%, 0 4%, 0 100px);
}

/* link */

a {
    color: $color_link;
    text-decoration: none;
    outline: none;
}

a:link {
    color: $color_link;
}

a:visited {
    color: $color_link;
}

a:hover {
    color: $color_link;
}



#outer {
    overflow: hidden;
    width: 100%;
}


#loading_wrap {
    background: #fff;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

#contens p {
    @include size(13, 16);
    color: $color_text;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--header
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header {
    position: relative;
    z-index: 999;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pcmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header .pcmenu {
    background: url(../images/header_bgimg.png) no-repeat top center;
    background-size: cover;
    background-position: 0 -80px;
    padding-bottom: 6px;
    @include display(none, none, block);
    width: 100%;
    top: 0;
    display: block;

    @include sp_only {
        display: none;
    }
}

@media screen and (max-width:1400px) {
    header .pcmenu {
        background-position: 0 -60px;
    }
}

@media screen and (max-width:1300px) {
    header .pcmenu {
        background-position: 0 -35px;
    }
}

@media screen and (max-width:1200px) {
    header .pcmenu {
        background-position: 0 -10px;
    }
}


header .pcmenu .header_top {
    padding: 20px 0 23px;
}

header .pcmenu .header_top .wrapper {
    position: relative;
}

header .pcmenu .header_top h1 {
    text-align: center;
}

header .pcmenu .header_top h1 span.text {
    display: block;
    font-size: 14px;
    padding-top: 2px;
    color: #333;
}

header .pcmenu .header_contact {
    width: 320px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 40px;
}

header .pcmenu .header_contact ol {
    padding-top: 5px;
    float: left;
}

header .pcmenu .header_contact ol li {
    @include size(13);
    float: left;
    padding-right: 25px;
    position: relative;
}

header .pcmenu .header_contact ol li a {
    //    font-weight: bold;
}

header .pcmenu .header_contact ol li a:hover {
    color: $keycolor2;
}

header .pcmenu .header_contact ol li:before {
    content: "";
    top: 8px;
    left: -9px;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 0 3px 6px;
    border-color: transparent transparent transparent #E10615;
}

header .pcmenu .header_contact .contact {
    float: left;
}

header .pcmenu .header_contact .contact a {
    @include size(13);
    background: $keycolor2;
    color: #fff;
    padding: 10px 26px 10px 23px;
    border-radius: 6px;
    position: relative;
}

header .pcmenu .header_contact .contact a:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 15px;
    width: 4px;
    height: 4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .pcmenu .header_bottom {
    width: 100%;
}

header .pcmenu .header_bottom_dammy {
    display: none;
    width: 100%;
    height: 49px;
}

header .pcmenu .header_bottom nav {
    width: 100%;
}

header .pcmenu .header_bottom nav ul {
    @include pc() {
        //        display: flex;
    }
}

header .pcmenu .header_bottom nav ul li {
    float: left;
    display: block;
    line-height: 1.4;
    color: #fff;
}

header .pcmenu .header_bottom nav ul li.home img {
    width: 23px;

}

header .pcmenu .header_bottom nav ul li a {
    text-align: center;
    display: block;
    border-left: 2px solid #EE7004;
    @include size(15);

    @include tab() {
        padding: 1px 63px;
        margin: 13px 0;
    }

    @include pc() {
        padding: 1px 63px;
        margin: 13px 0;
    }

    position: relative;
}

header .pcmenu .header_bottom nav ul li a:hover {
    color: $keycolor1;
}

header .pcmenu .header_bottom nav ul li:last-of-type a {
    border-right: 2px solid #EE7004;
}

header .pcmenu .header_bottom nav ul li a:hover {
    z-index: 99;
    position: relative;
}



header .pcmenu .drop {
    width: 100%;
    position: absolute;
    display: none;
    float: none;
    z-index: 99999;
    left: 0;
}


//***************************************************************
header .pcmenu .staff .drop {
    background: #F4CD72;
}

header .pcmenu .staff .mega-outer ul li {
    margin: 5px 8px;
    width: auto;
}

header .pcmenu .staff .mega-outer ul li a {
    padding: 5px 20px !important;
    border: 1px solid $keycolor1 !important;
    border-radius: 7px;
    color: $keycolor1;
    background: #fff;
}

header .pcmenu .staff .mega-outer ul li a:hover {
    background: $keycolor1;
    color: #fff !important;
}

header .pcmenu .staff .mega-outer ul li.hover a {
    background: $keycolor1;
    color: #fff !important;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--spmenu
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header .spmenu {
    z-index: 999999;
    width: 100%;
    height: 52px;
    top: 0;
    @include display(block, block, none);
    position: fixed;
    background: #fff;

    @include sp_only {
        border-bottom: 2px solid $keycolor2;
    }

    @include tab_only {
        border-bottom: 2px solid $keycolor2;
    }

}

header .spmenu #menu-text {
    position: absolute;
    padding-top: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    left: 14px;
}

.drawer-open #menu-text {
    left: 12px !important;
}

.drawer-close #menu-text {
    left: 14px !important;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
    background-color: #fff !important;
}

.drawer-open .drawer-hamburger-icon {
    background-color: $keycolor2 !important;

}

header .spmenu .nav-top {
    @include display(block, block, none);
    background: #fff;
    border-bottom: 1px solid $keycolor2;
}

header .spmenu .nav-top ul {
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    background: #F4EDE4;
}

header .spmenu .nav-top ul li {
    float: left;
    margin-right: 2%;
    width: 30.5%;
}

header .spmenu .nav-top ul li:first-of-type {
    margin-left: 2%;
}

header .spmenu .nav-top ul li a {
    width: 100%;
    display: block;
    background: $keycolor1;
    border: 1px solid #ffa243;
    padding: 6px 0 0;
    border-radius: 5px;
}

header .spmenu .nav-top ul li img {
    width: 25px;
    margin: 0 auto;
    display: block;
    line-height: 1;
    text-align: center;
}

header .spmenu .nav-top ul li .text {
    font-size: 10px;
    line-height: 0;
    top: -1px;
    position: relative;
    color: #fff;
    display: block;
    padding: 10px 0;

}

.drawermenu .inner {
    @include tab_only {
        border-top: none !important;
    }

    @include sp_only {
        border-top: none !important;
    }
}

header .spmenu h1 {
    text-align: left;
    padding: 9px 0 0 10px;
}

header .spmenu h1 .text {
    position: relative;
    float: left;
    @include size(13);
    top: 6px;
    padding-left: 10px;
    color: #333;
}

header .spmenu h1 .text br {
    display: none;
}

@media screen and (max-width:400px) {
    header .spmenu h1 .text {
        @include size(11);
        line-height: 1.3;
        top: 5px;
    }

    header .spmenu h1 .text br {
        display: block;
    }

}

header .spmenu h1 img {
    float: left;

    @include tab_only() {
        width: 66px;
    }

    @include sp_only() {
        width: 66px;
    }
}


header .spmenu .drawer-hamburger {
    width: 2.6rem;
    padding: 10px 16px 30px;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    background: $keycolor2;
}

header .spmenu .drawer-brand {
    max-width: 200px;
    margin-left: -15px;
}

header .spmenu .drawer-brand img {
    width: 84%;
    height: auto;
    margin-top: 7px;
}


header .spmenu .drawer-menu-item {
    text-align: left;
    padding: 5% 8% 5% 4%;
    position: relative;
    font-size: 13px;
    font-size: 1.3rem;
    background: #fff !important;
    color: #000 !important;
}

header .spmenu .drawer-menu-item span {
    font-size: 11px;
    padding-left: 8%;
    color: $keycolor1;
}

header .spmenu .drawer-menu li {
    width: 50%;
    float: left;

}

header .spmenu .drawer-menu li:nth-child(2n) .drawer-menu-item {
    border-left: 1px solid $keycolor2;
}

header .spmenu .color .drawer-menu-item {
    color: #000;
    background: #fff;
    border-bottom: 2px solid $keycolor2;

}

header .spmenu li #acMenu dt {
    text-align: left;
    padding: 3% 4%;
    font-size: 15px;
    font-size: 1.5rem;
    background: #595555;
    color: #fff;
}

header .spmenu li #acMenu dd {
    background: #ffffff;
    text-align: center;
    display: none;
    margin: 0px;
    padding: 0px;
}

header .spmenu li #acMenu .accordion_icon,
.accordion_icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .spmenu li #acMenu .accordion_icon {
    position: relative;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: -5px;
    top: 7px;
    margin-bottom: 0px !important;
}

header .spmenu li #acMenu .accordion_icon span {
    position: absolute;
    left: 6px;
    width: 50%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(1) {
    top: 5px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

header .spmenu li #acMenu .accordion_icon span:nth-of-type(2) {
    top: 5px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/*＋、－切り替え*/
header .spmenu li #acMenu .accordion_icon.active span:nth-of-type(2) {
    display: none;
}

#acMenu .accordion_icon.active span:nth-of-type(1) {
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

header .spmenu .inner {
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
}

header .spmenu .sp-title {
    padding: 2% 4% 2% 2%;
    text-align: left;
    font-weight: bold;
    color: #fff;
    background: $keycolor2;
}

header .spmenu .drawer-menu-item:after {
    position: absolute;
    top: 50%;
    right: 4%;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .spmenu .color .drawer-menu-item:after {
    border-top: 1px solid $keycolor2;
    border-right: 1px solid $keycolor2;
}

header .spmenu .drawer-menu-item:hover {
    text-decoration: none;
}

header .spmenu .drawer-nav {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pagetitle
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#pagetitle-photo {
    @include height(102px, 153px, 208px);
    width: 100%;
    text-align: center;
    background-size: cover;
    position: relative;

    @include tab_only {
        margin-top: 52px;
    }

    @include sp_only {
        margin-top: 52px;
    }

}

#pagetitle-photo .title-outer {
    background: rgba(255, 255, 255, 0.6);
    @include size(18, 21, 24);
    position: absolute;
    top: 36%;
    width: 100%;
    padding: 12px 0px;

    @include tab_only {
        top: 32%;
    }

    @include sp_only {
        top: 28%;
        padding: 6px 0px;
    }
}

.pagetitle-text h2 {
    font-weight: 900;
    color: #1a1a1a;
    @include size(22, 38);
    text-align: center;
    line-height: 1.3;
    @include padding(4% 0 4%, 15px 0 25px);
}

.pagetitle-text h2 span.small {
    color: #6cbd33;
    @include size(12, 16);
    display: block;
    font-weight: bold;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--pan
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

#pan {
    text-align: left;
    @extend .fsize_xs;
    @include padding(3px 5px 0);
    @include margin-bottom(2%, 20px, 20px);

    @include sp_only {
        display: none;
    }
}

#pan a:hover {
    text-decoration: underline;
}

#pan h2 {}


#bottom-contact {
    display: none !important;

    @include sp_only {
        display: block !important;

    }
}

#bottom-contact .contact-sp {
    position: fixed;
    bottom: 0%;
    left: 0;
}

#bottom-contact .facebook-sp {
    position: fixed;
    bottom: 0%;
    left: 55px;
}

#bottom-contact img {
    width: 60px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--contents
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


#contents_outer {
    @include margin(false, 0 auto 0);
    @extend .fsize;
    text-align: left;
    @include width(100%, 92%, 1000px);
}


#contents_outer #main_contents {
    @include width(92%, 69%, 690px);
    float: left;
    margin-right: 40px;

    @include tab_only {
        margin-right: 4%;
        //        margin:0 auto;
        //        display: block;
        //        float:none;
    }

    @include sp_only {
        margin: 0 auto;
        display: block;
        float: none;
    }
}

#main_contents.col1 {
    @include width(100%, 69%, 690px);
    margin-right: auto;

}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--sidebar
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
　--footer
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer {
    background: #fff;
}


.footer-top {
    @include padding(4% 0, 35px 0);

}

.footer-top .footer_logo {
    text-align: center;
}

.footer-top .footer_logo a img {
    text-align: center;

    @include sp_only {
        width: 120px;
    }
}

.footer-top .footer_logo .text {
    display: block;
    font-size: 14px;
    padding-top: 2px;
    color: #333;

    @include sp_only {
        font-size: 12px;
    }
}

footer nav {
    background: $keycolor1;
}

footer nav ul li {
    float: left;
}

footer nav ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include sp_only {
        display: block;
    }
}

footer nav ul li {
    padding: 20px 0px;

    @include sp_only {
        padding: 0% 0%;
        width: 100%;
    }
}

footer nav ul li:first-of-type a {
    border-left: 1px solid #fff;

    @include sp_only {
        border-left: none;
    }
}

footer nav ul li a {
    padding: 0px 13px;
    text-align: center;
    display: block;
    position: relative;
    color: #fff !important;
    border-right: 1px solid #fff;
    font-size: 13px;
    font-size: 1.3rem;
    position: relative;

    @include tab_only {
        padding: 0px 15px;
    }

    @include sp_only {
        text-align: left;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #fff;
        padding: 2% 4%;
        position: relative;
        border-right: none;
    }
}

footer nav ul li a:after {
    @include sp_only {
        position: absolute;
        top: 50%;
        right: 4%;
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        margin-top: -3px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

footer .footer-bottom {
    background: $keycolor1;

    @include sp_only {
        display: none;
    }

}

footer .footer-bottom .outer {
    width: 87%;
}

footer .footer-bottom .outer .facebook {
    float: right;
}

footer .footer-bottom .outer .footer-contact {
    float: right;
    padding-top: 5px;
    padding-left: 20px;
}

footer .footer-bottom .outer .access {
    float: right;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 13px;
    font-size: 1.3rem;
}

footer .footer-bottom .outer .access a {
    color: #fff !important;
}


footer .footer-bottom .outer .blog {
    float: right;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 13px;
    font-size: 1.3rem;

}

footer .footer-bottom .outer .blog a {
    color: #fff !important;

}


footer .footer-bottom .footer-contact a {
    font-size: 13px;
    font-size: 1.3rem;
    background: #E10615;
    color: #fff;
    padding: 10px 26px 10px 23px;
    border-radius: 6px;
    position: relative;

}

footer .footer-bottom .footer-contact a:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 15px;
    width: 4px;
    height: 4px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer .copy {
    text-align: center;
    color: #fff;
    background: $keycolor1;
    padding: 17px 0;
    @include size(11);
    letter-spacing: 1.5px;

    @include sp_only {
        text-align: center;
    }
}


#page_top {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 20;
}

#page_top img {
    @include sp_only {
        width: 50px;
    }
}

#pagination {
    position: relative;
    left: 50%;
    float: left;
    list-style: none;
    margin: 30px 0 40px;
}

#pagination .page-numbers {
    position: relative;
    left: -50%;
    float: left;
}

#pagination .page-numbers,
#pagination .page-numbers:hover {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: $keycolor2;
}

#pagination .page-numbers.current {
    border: solid 1px #CECECE;
    color: #FFFFFF;
    background: $keycolor2;
}

#pagination .page-numbers {
    border: 1px solid #CECECE;
    margin: 0 3px;
    padding: 3px 7px;
    display: block;
    text-decoration: none;
    color: #666666;
    background: #fff;
}


#page_single section.newslist #contents_wrap {
    width: 100%;
}

#page_single section.newslist #contents_wrap #contents {
    float: left;
    width: 64%;

    @include tab_only {
        width: 100%;
    }

    @include sp_only {
        width: 100%;
    }

}

#page_single section.newslist #sidebar {
    float: left;
    width: 30%;
    margin-left: 6%;

    @include tab_only {
        width: 100%;
        margin-left: 0;
    }

    @include sp_only {
        margin-left: 0;
        width: 100%;
    }

}

#page_single section.newslist .wrapper {
    width: 1200px;
}

@media screen and (max-width:1280px) {
    #page_single section.newslist .wrapper {
        width: 100%;
    }

}

#sidebar .head-title {
    position: relative;
    padding-bottom: 10px;
    @include size(17);
    font-weight: bold;
}

#sidebar .head-title:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #E10615;
    bottom: 0;
    left: 0;
}


#sidebar .latest_list li a {
    font-size: 13px;
    font-size: 1.3rem;
    background: #fff;
    border: 2px solid #EE7004;
    display: block;
    padding: 30px;
    position: relative;
    color: #111;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition-property: color, background;
    -moz-transition-property: color, background;
    -ms-transition-property: color, background;
    -o-transition-property: color, background;
    transition-property: color, background;
}

#sidebar .latest_list li a:hover {
    background: #F4EDE4;
}

#sidebar .latest_list li .cat {
    background: #E10615;
    color: #fff;
    margin-left: 10px;
    padding: 0px 13px 0px;
    font-size: 11px;
    font-size: 1.1rem;
    display: inline-block;
}

#sidebar select {
    display: block;
    width: 100%;
    padding: .5rem .8rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #111;
    border-radius: 0px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#sidebar .cat_list a:hover {
    color: #E10615;
}
