@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


/********************************************************************************
　--index
*********************************************************************************/
#page_index section.mainvisual {
    min-height: 444px;
    background-size: cover;

    @include sp_only {
        min-height: 400px;
    }
}

@media screen and (max-width:1039px) {
    #page_index section.mainvisual {
        margin-top: 51px;
    }
}

#page_index section.mainvisual #vegas-text {
    z-index: 99;
    margin: 0 auto;

    @include tab_only {
        margin: 45px auto 0;
    }
}

#page_index section.mainvisual #vegas-text img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @include sp_only {
        padding: 0 4%;
    }
}

@media screen and (max-width:500px) {
    #page_index section.mainvisual #vegas-text img {
        width: 80%;
    }
}


#mainvisual #vegas-msg {
    text-align: center !important;
}

#mainvisual #vegas-msg h3 {
    @include size(21, 26);
    line-height: 1.4;
    font-family: $font_oswald;
    text-align: center;
    color: #fff;
    font-weight: normal;
    width: 70%;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    padding-bottom: 15px;
}

#mainvisual #vegas-msg p {
    font-size: 20px;
    padding-top: 15px;
    color: #fff;
    text-align: center;
    font-weight: normal;

    @include sp_only {
        font-size: 12px;
    }

}

#page_index .top_menu {
    background: $keycolor1;
    color: #fff;
    position: relative;
}

#page_index .top_menu .left-img {
    position: absolute;
    left: 0;
    top: 0;
}

#page_index .top_menu .right-img {
    position: absolute;
    right: 0;
    top: 0;
}

#page_index .top_menu ul {
    padding: 30px 0;
}

#page_index .top_menu ul li {
    padding: 10px 0 13px;
    width: 33.333%;
    float: left;
}

#page_index .top_menu ul li img {
    text-align: center;
    display: block;
    margin: 0 auto;
}

#page_index .top_menu ul li h3 {
    text-align: center;
    @include size(17);
}

#page_index .top_menu ul li .linkbtn {
    text-align: center;
    padding-top: 10px;
}

#page_index .top_menu ul li .linkbtn a {
    background: #fff;
    color: $keycolor1;
    @include size(14);
    padding: 10px 40px 10px;
    border-radius: 7px;
    text-align: center;
    position: relative;
}

#page_index .top_menu ul li .linkbtn a:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 15px;
    width: 5px;
    height: 5px;
    border-top: 1px solid $keycolor1;
    border-right: 1px solid $keycolor1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#page_index .top_menu ul li:first-of-type {
    border-right: 1px solid #FFCCA9;
}

#page_index .top_menu ul li:last-of-type {
    border-left: 1px solid #FFCCA9;
}

#page_index .top_menu ul li .sp_menu {
    display: none;
}

@media screen and (max-width:600px) {
    #page_index .top_menu ul li .sp_menu {
        display: block;
    }

    #page_index .top_menu ul li .pc_menu {
        display: none;
    }

    #page_index .top_menu {
        background: #f0923d;
    }

    #page_index .top_menu ul li {
        width: 100%;
    }

    #page_index .top_menu .left-img {
        display: none;
    }

    #page_index .top_menu .right-img {
        display: none;
    }

    #page_index .top_menu ul li .linkbtn a {
        background: #fff;
        color: $keycolor1;
        @include size(14);
        padding: 8px 40px 8px;
        border-radius: 7px;
        width: 92%;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: relative;
    }

    #page_index .top_menu ul li {
        border: 1px solid #FFCCA9;
        border-radius: 7px;
        margin-bottom: 4%;
        background: #E10615;
        position: relative;
        padding: 0;
    }

    #page_index .top_menu ul li a {
        display: block;
        width: 100%;
        padding: 8px 4%;
        color: #fff;
        position: relative;
    }

    #page_index .top_menu ul li a:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 20px;
        width: 5px;
        height: 5px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #page_index .top_menu ul li .photo {
        position: absolute;
        left: 8px;
    }

    #page_index .top_menu ul li .photo img {
        width: 30px;
    }

    #page_index .top_menu ul li h3 {
        width: 100%;
        @include size(15);
    }

    #page_index .top_menu ul li:nth-child(1) .photo {
        top: 7px;
    }

    #page_index .top_menu ul li:nth-child(2) .photo {
        top: 6px;
    }

    #page_index .top_menu ul li:nth-child(3) .photo {
        top: 9px;
    }

    #page_index .top_menu ul {
        padding: 8% 0 4%;
    }


}

#page_index .about {
    position: relative;
    min-height: 260px;

    @include sp_only {
        background: url(../images/index_about_bg.jpg) repeat center center;
        background-size: cover;
        min-height: 0;
    }
}

#page_index .about p {
    @include size(15, 18);
    text-align: center;
    line-height: 2.2;
    @include padding-top(80px);
    position: relative;

    @include sp_only {
        padding: 8% 0;
    }
}

#page_index .about .left-img {
    position: absolute;
    left: 0;
    top: 0;

    @include sp_only {
        display: none;
    }
}

#page_index .about .right-img {
    position: absolute;
    right: 0;
    top: 0;

    @include sp_only {
        display: none;
    }
}




#page_index .news .outer {
    background: #fff;
    @include padding(0 4%, 0 35px);
    border: 2px solid #CCCCCC;
}




#page_index section.news dl.news_list {
    width: 100%;
    border-bottom: 1px solid #ccc;
    @include padding(2% 0, 7px 0px);
    @include size(13, 15);

    @include tab() {
        line-height: 1.4;
    }
}

#page_index section.news dl.news_list dt {
    width: 100%;
    display: block;
    padding: 3px 0;
    margin: 10px 0;

    @include sp_only {
        width: 100%;
        @include size(11);
        float: left;
    }

    @include tab_only {
        width: 140px;
        @include size(11);
        float: left;
    }

    @include pc {
        width: 14%;
        float: left;
    }
}

#page_index section.news dl.news_list dt .cat {
    padding: 7px 5px 7px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    @include size(12);

    @include sp_only {
        padding: 3px 5px;
        @include size(11);

    }

    @include tab_only {
        padding: 7px 5px 7px;
        @include size(11);

    }

}

#page_index section.news dl.news_list dt .cat.orange {
    background: #EC7008;
}

#page_index section.news dl.news_list dt .cat.green {
    background: #8FAA61;
}


#page_index section.news dl.news_list dd {
    width: 86%;
    float: left;
    padding: 6px 0 4px;
    margin: 10px 0;
    display: block;

    @include tab_only {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }

    @include sp_only {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

#page_index section.news dl.news_list dd {
    @include pc {
        padding-left: 20px;
    }
}

#page_index section.news dl.news_list dd a {
    text-decoration: underline;
}

#page_index section.news .link-list {
    padding: 15px 0;
}

#page_index section.news .link-list .list {
    text-align: right;
}

#page_index section.news .link-list a {
    padding: 7px 25px;
    text-align: center;
    background: #E6E6E6;
    @include size(12);
}

#page_index section.news .bgnumber {
    text-align: center;
}

#page_index section.news .bgnumber a {
    padding: 7px 25px;
    text-align: center;
    background: #E6E6E6;
    @include size(13);
}



#page_index section.news .news-header {
    @include size(16, 18);
    border-left: 2px solid $keycolor1;
    line-height: 1;
    padding-left: 12px;
}

#page_index section.news .news-header .small {
    @include size(10, 12);
    color: $keycolor1;
    padding-left: 10px;
}

#page_index section.news .pdf_list {
    width: 100%;
}

#page_index section.news .pdf_list li {
    width: 12.5%;
    float: left;
    text-align: center;
}

@media screen and (max-width:840px) {
    #page_index section.news .pdf_list li {
        width: 25%;
        margin-bottom: 4%;
    }

}

@media screen and (max-width:420px) {
    #page_index section.news .pdf_list li {
        width: 50%;
        margin-bottom: 4%;
    }

}

#page_index section.news .pdf_list li p {
    @include size(13);
}

#page_index section.news .pdf_list li a:hover img {
    opacity: 0.8;
}

#page_index section.newsletter .headline1:before {
    margin-left: 41px !important;

    @include sp_only {
        margin-left: 31px !important;
    }
}

/********************************************************************************
　--visitingcare
*********************************************************************************/
#page_visitingcare .act dl {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border: 2px solid $keycolor1;
}

#page_visitingcare .act dl dt {
    padding: 5px 0 6px;
    @include size(16, 20);
    text-align: center;
    width: 100%;
    background: $keycolor1;
    color: #fff;
    border-radius: 7px 7px 0 0 / 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0 / 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0 / 7px 7px 0 0;
}

#page_visitingcare .act dl dd {
    padding: 20px 40px 30px 40px;

    @include sp_only {
        padding: 4%;
    }
}

#page_visitingcare .act dl dd .red {
    color: #E10615;
}

#page_visitingcare .member .box {
    background: #fff;
    @include padding(4%, 15px 40px);
}

#page_visitingcare .member ul.list li {
    position: relative;
    @include padding-left(27px, 32px);
    padding-bottom: 10px;
}

#page_visitingcare .member ul.list li:before {
    content: url(../images/check-list.svg);
    position: absolute;
    left: 0px;
    top: 2px;

    @include sp_only {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../images/check-list.svg);
        background-size: contain;
        vertical-align: middle;
        top: 1px;
    }

}

#page_visitingcare .member dl {
    width: 100%;
    margin-bottom: 25px;
}

#page_visitingcare .member dl dt {
    width: 310px;
    float: left;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    padding: 8px 0;
    letter-spacing: 1px;
}

#page_visitingcare .member dl dd {
    letter-spacing: 1px;
    width: 310px;
    float: left;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    padding: 10px 0;
    margin-left: 95px;
    position: relative;
}

#page_visitingcare .member dl dd:before {
    content: '';
    position: absolute;
    top: 11px;
    left: -79px;
    margin-left: -6px;
    display: inline-block;
    width: 76px;
    height: 22px;
    background-size: contain;
    vertical-align: middle;
    background-image: url(../images/right_arrow.svg);
}

#page_visitingcare .member dl dd:after {
    content: '';
    position: absolute;
    top: 49px;
    right: 7px;
    margin-left: -6px;
    display: inline-block;
    width: 20px;
    height: 33px;
    background-size: contain;
    vertical-align: middle;
    background-image: url(../images/under_arrow.svg);

    @include sp_only {
        top: 38px;
    }
}

#page_visitingcare .member dl.col4 dd:after {
    content: none;
}

#page_visitingcare .member dl.col1 {
    padding-left: 20px;
}

#page_visitingcare .member dl.col2 {
    padding-left: 40px;
}

#page_visitingcare .member dl.col3 {
    padding-left: 60px;
}

#page_visitingcare .member dl.col4 {
    padding-left: 80px;
}

#page_visitingcare .member dl.col1 dt,
#page_visitingcare .member dl.col1 dd {
    background: #E07569
}

#page_visitingcare .member dl.col2 dt,
#page_visitingcare .member dl.col2 dd {
    background: #EA9639
}

#page_visitingcare .member dl.col3 dt,
#page_visitingcare .member dl.col3 dd {
    background: #89AA5F
}

#page_visitingcare .member dl.col4 dt,
#page_visitingcare .member dl.col4 dd {
    background: #28AFC6
}

@media screen and (max-width:900px) {
    #page_visitingcare .member dl.col1 {
        padding-left: 4%;
        padding-right: 12%;
    }

    #page_visitingcare .member dl.col2 {
        padding-left: 6%;
        padding-right: 8%;
    }

    #page_visitingcare .member dl.col3 {
        padding-left: 8%;
        padding-right: 6%;
    }

    #page_visitingcare .member dl.col4 {
        padding-left: 12%;
        padding-right: 4%;
    }

    #page_visitingcare .member dl dt {
        width: 40%;
    }

    #page_visitingcare .member dl dd {
        width: 40%;
    }
}

@include sp_only {
    #page_visitingcare .member dl {
        display: none;
    }
}

/********************************************************************************
　--group
*********************************************************************************/
#page_group .top ul.list li {
    position: relative;
    padding-left: 32px;
    padding-bottom: 10px;
}

#page_group .top ul.list li:before {
    content: url(../images/check-list2.svg);
    position: absolute;
    left: 0px;
    top: 2px;

    @include sp_only {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../images/check-list2.svg);
        background-size: contain;
        vertical-align: middle;
        top: 1px;
    }

}

#page_group .top .bg_photo {
    background: url(../images/visitingcare_top_photo.jpg) repeat center center;
    background-size: cover;
    @include height(240px, 440px, 640px);
}

@media screen and (max-width:500px) {
    #page_group .top .bg_photo {
        height: 180px;
    }
}

@media screen and (max-width:400px) {
    #page_group .top .bg_photo {
        height: 160px;
    }
}

#page_group .access .outer p {
    line-height: 1.8;
}


/********************************************************************************
　--company
*********************************************************************************/
#page_company .business .outer {
    width: 100%;
}

#page_company .business .outer .photo {
    width: 45%;
    float: left;
}

#page_company .business .outer .text {
    width: 55%;
    float: left;
    padding-left: 6%;
}

@media screen and (max-width:600px) {
    #page_company .business .outer .photo {
        width: 100%;
    }

    #page_company .business .outer .text {
        width: 100%;
        padding-left: 0%;
        padding-top: 4%;
    }
}

#page_company .business .outer .text .linkbtn a {
    background: #fff;
    color: $keycolor1;
    @include size(14);
    padding: 10px 50px 10px;
    border-radius: 7px;
    text-align: center;
    position: relative;
    border: 1px solid $keycolor1;
}

#page_company .business .outer .text .linkbtn a:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 15px;
    width: 5px;
    height: 5px;
    border-top: 1px solid $keycolor1;
    border-right: 1px solid $keycolor1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width:600px) {
    #page_company .business .outer .text .linkbtn a {
        width: 100%;
        display: block;
        padding: 6px 4% 6px;
    }

    #page_company .business .outer .text .linkbtn a:after {
        top: 16px;
    }
}

#page_company .business .outer .text .list {
    margin-top: 12px;
}

#page_company .business .outer .text .list li {
    line-height: 1.6;
    @include size(16);

}

#page_company .business .outer .text .list li:before {
    content: '・';
}


#page_company .recruit h3 {
    text-align: center;
    @include size(18, 24);

    @include sp_only {
        line-height: 1.4;
    }
}

#page_company .recruit .linkbtn1 {
    text-align: center;
    marign: 0 auto;
    display: block;
}

#page_recruit .recruit .job .linkbtn a {
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    line-height: 1.4;
    height: 80px;
    position: relative;
    @include vender(transition, all 0.3s ease);

    @include sp_only {
        height: 60px;
    }
}

#page_recruit .recruit .job .linkbtn a:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 35px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    @include vender(transition, all 0.3s ease);

    @include sp_only {
        top: 25px;
    }

}

#page_recruit .recruit .job p {
    text-align: center;
}

@media screen and (max-width:450px) {
    #page_recruit .recruit .job p {
        text-align: left;
    }
}

@media screen and (max-width:450px) {
    #page_recruit .recruit .job p br {
        display: none;
    }
}



#page_recruit .recruit .job .linkbtn.orange a {
    background: #EA9639;
    border: 1px solid #EA9639;
}

#page_recruit .recruit .job .linkbtn.red a {
    background: #E07569;
    border: 1px solid #E07569;
}

#page_recruit .recruit .job .linkbtn.green a {
    background: #89AA5F;
    border: 1px solid #89AA5F;
}

#page_recruit .recruit .job .linkbtn.orange a:hover {
    background: #fff;
    color: #EA9639;
}

#page_recruit .recruit .job .linkbtn.red a:hover {
    background: #fff;
    color: #E07569;
}

#page_recruit .recruit .job .linkbtn.green a:hover {
    background: #fff;
    color: #89AA5F;
}

#page_recruit .recruit .job .linkbtn.orange a:hover:after {
    border-top: 1px solid #EA9639;
    border-right: 1px solid #EA9639;
}

#page_recruit .recruit .job .linkbtn.red a:hover:after {
    border-top: 1px solid #E07569;
    border-right: 1px solid #E07569;
}

#page_recruit .recruit .job .linkbtn.green a:hover:after {
    border-top: 1px solid #89AA5F;
    border-right: 1px solid #89AA5F;
}

#page_recruit .recruit .job .linkbtn a .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* Safari用 */
    transform: translate(-50%, -50%);

}


#page_recruit .recruit .flow p {
    text-align: center;
}

@media screen and (max-width:450px) {
    #page_recruit .recruit .flow p {
        text-align: left;
    }
}

@media screen and (max-width:450px) {
    #page_recruit .recruit .flow p br {
        display: none;
    }
}

#page_recruit .recruit .flow ol li {
    width: 100%;
    color: #fff;
    border-radius: 7px;
    height: 70px;
    margin-bottom: 40px;
    position: relative;

    @include sp_only {
        height: auto;
        margin-bottom: 40px;
    }
}

#page_recruit .recruit .flow ol li:last-of-type {
    @include sp_only {
        margin-bottom: 4%;
    }
}

#page_recruit .recruit .flow ol li:after {
    content: "";
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../images/step_under_arrow.svg);
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    vertical-align: middle;

    @include sp_only {
        content: '';
        top: 106%;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: contain;
        vertical-align: middle;
    }
}

#page_recruit .recruit .flow ol li:last-of-type:after {
    content: none;
}


#page_recruit .recruit .flow ol li dl dt {
    width: 42%;
    float: left;

    @include sp_only {
        width: 100%;
    }

}

#page_recruit .recruit .flow ol li dl dt .step {
    padding: 8px 0px;
    margin: 13px 20px 2px;
    width: 140px;
    font-weight: bold;
    background: #fff;
    text-align: center;
    color: #8C6239;
    float: left;

    @include sp_only {
        padding: 8px 0px 5px;
        width: 92%;
        margin: 0 auto;
        margin-top: 4%;
        margin-left: 4%;
    }
}

#page_recruit .recruit .flow ol li dl dt .text {
    float: left;
    padding-top: 18px;
    font-size: 18px;
    padding-left: 20px;

    @include sp_only {
        font-size: 15px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 0;
        width: 100%;
        display: block;
        text-align: center;
    }
}

#page_recruit .recruit .flow ol li dl dd {
    width: 58%;
    float: left;
    line-height: 1.4;

    @include sp_only {
        width: 92%;
        float: none;
        margin: 0 auto;
        padding-bottom: 4%;
        text-align: center;
    }
}

#page_recruit .recruit .flow ol li dl dd br {
    @include sp_only {
        display: none;
    }
}

#page_recruit .recruit .flow ol li dl dd .text {
    display: block;
}

#page_recruit .recruit .flow ol li dl dd .text.r1 {
    padding-top: 25px;

    @include sp_only {
        padding-top: 4%;
    }
}

#page_recruit .recruit .flow ol li dl dd .text.r2 {
    padding-top: 13px;
}

#page_recruit .recruit .flow ol li.step1 {
    background: #C6A88F;
}

#page_recruit .recruit .flow ol li.step2 {
    background: #B28C69;
}

#page_recruit .recruit .flow ol li.step3 {
    background: #9E7656;
}

#page_recruit .recruit .flow ol li.step4 {
    background: #8C6144;
}


#page_applicant .applicant p {
    text-align: center;
}

@include sp_only {
    #page_applicant .applicant p br {
        display: none;
    }

    #page_applicant .applicant p {
        text-align: left;
    }

}

#page_applicant .applicant .obi {
    background: url(../images/recruit_obi.jpg) repeat center center;
    background-size: cover;
    @include height(82px, 124px, 248px);
}

#page_applicant .applicant h2 img {
    @include sp_only {
        width: 260px;
    }
}

/********************************************************************************
　--top-title
*********************************************************************************/




/********************************************************************************
　--contact
*********************************************************************************/
#page_contact .contact-title {
    text-align: center;

    @include sp_only {
        text-align: left;
    }
}

#page_contact .contact-title .red {
    color: #E10615;
}

#page_contact .contact-title .br {
    @include sp_only {
        display: none;
    }
}

#page_contact section.tel .red {
    color: #c40500;
}

#page_contact section.tel dl {
    width: 100%;
    @include margin(4% 0 8%, 20px 0 40px);
}

#page_contact section.tel dl dt {
    @include width(100%, 32%, 30%);
    float: left;
    background: #c40500;
    color: #fff;
    text-align: center;
    border: 2px solid #c40500;
    @include padding(2% 4%, 20px);
}

#page_contact section.tel dl dd {
    @include width(100%, 68%, 70%);
    float: left;
    color: #c40500;
    border: 2px solid #c40500;
    @include padding(2% 4%, 13px 40px);
    @include text-align(center, left, left);

}

#page_contact .button-contact {
    @include sp_only {
        font-size: 11px;
        font-size: 1.1rem;
    }
}

#page_contact .button-contact input[type="radio"] {
    display: none;
}

#page_contact .button-contact label {
    display: inline-block;
    color: #fff;
    background-color: #666666;
    padding: 5px 10px;
}

#page_contact .button-contact label {
    width: 33.333%;
    float: left;
    text-align: center;
    @include padding(2% 4%, 15px 20px);
}

#page_contact .button-contact .btn1 {
    border-right: 1px solid #fff;
}

#page_contact .button-contact .btn2 {
    border-right: 1px solid #fff;
}

#page_contact .button-contact label {
    cursor: pointer;
}

#page_contact .button-contact label:hover {
    background: #32b2af;
}

#page_contact .button-contact input[type="radio"]:checked + label {
    background-color: #1e9e9e;
}

#page_contact .button-area input[type="radio"] {
    display: none;
}

#page_contact .button-area label {
    width: 98%;
    margin: 0 auto;
    text-align: center;

    display: block;
    color: #000;
    background-color: #fff;
    @include padding(4%, 15px 20px);
    border-bottom: 2px solid #f2f2f2;

}

#page_contact .button-area input[type="radio"]:checked + label {
    background-color: #c7e2e0;
}

#page_contact .button-area.hover label:hover {
    background-color: #dfefed;
    cursor: pointer;
}

#page_contact section.form form table {
    width: 100%;

    @include sp_only {
        border-bottom: 1px solid #ccc;
    }
}

#page_contact section.form form table th {
    @include size(13, 16);
    font-weight: bold;
    text-align: left;
    position: relative;
    vertical-align: middle;
    padding: 16px 5px 16px 20px;
    line-height: 1;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    white-space: nowrap;
    background: #EFF2E4;
    width: 240px;
    box-sizing: border-box;

    @include sp_only {
        padding: 2% 4%;
        width: 100%;
        display: block;
        border-bottom: none;
        border-right: 1px solid #ccc;
    }
}

#page_contact em {
    color: #ED1C24;
    @include size(12, 13);
}

#page_contact .privacy-em {
    position: absolute;
    background: #DC452F;
    color: #fff;
    font-size: 10px;
    font-size: 1.0rem;
    display: inline-block;
    padding: 3px 10px 3px;
    margin-top: 3px;
    margin-left: 14px;

    @include sp_only {
        position: relative;
        margin-left: 4%;
        padding: 3px 5px 3px;
    }
}

#page_contact section.form form table td {
    @include size(13, 16);
    background: #fff;
    border-right: 1px solid #cccc;
    padding: 10px 20px 10px;
    font-size: 15px;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;

    @include sp_only {
        width: 100%;
        padding: 2% 4% 2%;
        display: block;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

}

#page_contact section.form form table td .zipmsg {
    margin-bottom: 0px;
}


#page_contact section.form form table td input[type=text] {
    padding: 8px 8px;
}

#page_contact section.form form table td input[type=radio] {
    padding-right: 10px;
    display: inline-block;
}

#page_contact section.form form table td label {
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;

    @include sp_only {
        margin: 0;
    }
}

#page_contact section.form form table td textarea {
    padding: 10px;
}

#page_contact section.form form .submit {
    text-align: center;
    padding: 40px 0 20px;
    margin: 0 auto;

    @include sp_only {
        padding: 4% 0 4%;
    }
}

#page_contact section.form .msg {
    margin: 20px 0 30px;

}

#page_contact form .submit .outer {
    position: relative;
}

#page_contact form .submit .outer {
    position: relative;
    display: inline;
}

#page_contact form .submit .outer:after {
    position: absolute;
    top: 52%;
    right: 12px;
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#page_contact form .submit input {
    background: $keycolor2;
    border: 1px solid $keycolor2;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 7px;
    padding: 17px 138px 17px 130px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;

    @include sp_only {
        width: 100%;
        padding: 4%;
        margin-bottom: 2% !important;
    }
}

#page_contact form .submit input:hover {
    background: #fff;
    border: 1px solid $keycolor2;
    color: $keycolor2;
}

#page_contact section.form form table tr:last-of-type td {
    @include sp_only {
        border-bottom: none;
    }
}

#page_contact form p.submit input:hover {
    background: #fff;
    color: $keycolor2;
    border: 1px solid $keycolor1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page_contact section.form form table td #zip1 {
    @include sp_only {
        font-size: 13px;
        font-size: 1.3rem;
        width: 35% !important;
        display: inline !important;
        margin-left: 1% !important;
    }
}

#page_contact section.form form table td #zip2 {
    @include sp_only {
        font-size: 13px;
        font-size: 1.3rem;
        width: 45% !important;
        display: inline !important;
        margin-left: 1% !important;
    }
}

section.form .privacy {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 6%;

    @include sp_only {
        text-align: center;
    }
}

#page_contact .kome {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0%;
}

#page_contact section.form .privacy a {
    color: #000;
}

#page_contact section.form .privacy label {
    border: 1px solid #ccc;
    display: inline-block;
    //    padding: 5px 15px;
    padding: 5px 70px 5px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#page_contact section.form .privacy label.disable {
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

#page_contact section.form .privacy label input {
    position: relative;
    top: 2px;
}

#page_contact section.form form table td input[type=text] {
    padding: 5px 8px;
}

#page_contact section.form form table {
    border-top: 1px solid #ddd;
}


/********************************************************************************
　--access
*********************************************************************************/
#page_access section.access .wrapper_small {
    width: 1000px;
    margin: 0 auto;

    @include tab_only {
        width: 92%;
    }

    @include sp_only {
        width: 92%;
    }
}

#page_access section.access .wrapper_small ul {
    @include sp_only {
        padding-top: 6%;
    }
}

#page_access section.access .map iframe {
    width: 100%;
    height: 308px;

    @include sp_only {
        height: 154px;
    }
}

#page_access section.access dl {
    width: 100%;
    display: table;
}

#page_access section.access dl:first-of-type {
    margin-bottom: 10px;
}

#page_access section.access dl dt {
    width: 40%;
    display: table-cell;
    background: $keycolor1;
    vertical-align: middle;
    text-align: center;
    color: #fff;

    @include sp_only {
        width: 100%;
        display: block;
        padding: 6px 0 3px;
    }
}

#page_access section.access dl dd {
    width: 60%;
    display: table-cell;
    padding-left: 40px;

    @include sp_only {
        width: 100%;
        padding-left: 0;
        display: block;
    }

}

#page_access section.access dl dd .small {
    @include size(13);
}

#page_access section.access h2 {
    @include size(18, 22);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
    position: relative;
    @include padding(4% 0, 40px 0);
}

/********************************************************************************
　--post ( スタッフ、チーム紹介 共通)
*********************************************************************************/
@media screen and (max-width:540px) {
    #page_post .top-link .wrapper {
        text-align: center;
    }
}

#page_post .top-link ul li a {
    border: 1px solid $keycolor1;
    color: $keycolor1;
    display: inline-block;
    position: relative;
    border-radius: 7px;
    padding: 5px 14px;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page_post .list {
    @include sp_only {
        padding-bottom: 70px;
    }
}

#page_post .top-link ul li a:hover {
    color: #fff;
    background-color: $keycolor1;
}

#page_post .top-link ul li.hover a {
    color: #fff;
    background-color: $keycolor1;
}

#page_post .top-link ul li {
    display: inline-block;
    padding: 1% 8px 1%;
}

#page_post .list ul li .outer {
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    margin-bottom: 25px;
}

#page_post .list ul li .outer .linkbtn {
    text-align: right;
    padding-top: 2%;
}

#page_post .list ul li:last-of-type .outer {
    margin-bottom: 0px;

}

#page_post .list ul li a:hover .outer {
    border: 2px solid $keycolor1;
}

#page_post .list ul li a:hover .outer h3 {
    text-decoration: underline;
}

#page_post .list ul li .outer .photo {
    width: 35%;
    float: left;

    @include sp_only {
        width: 100%;
        padding-bottom: 4%;
    }
}

#page_post .list ul li .outer .text {
    padding-left: 4%;
    width: 65%;
    float: left;

    @include sp_only {
        width: 100%;
        padding-left: 0;
        padding-bottom: 2%;
    }
}

#page_post .list ul li .outer .text h3 {
    color: $keycolor1;
    font-weight: bold;
    line-height: 1.6;
}

#page_post .list ul li .outer .text h3 span.cat {
    background: $keycolor1;
    color: #fff;
    font-size: 13px;
    padding: 6px 14px 5px;
    border-radius: 4px;
    position: relative;
    top: -1px;
    margin-left: 10px;
    font-weight: normal;
}

#page_post .list ul li .outer .text p {
    @include size(13, 16);
    padding: 10px 0 12px;
    line-height: 1.5;
}

#page_post .list ul li .outer .text .box {
    background: #F2F2F2;
    padding: 12px;
    line-height: 1.5;
}

#page_post .kouza .outer {
    width: 100%;
}

#page_post .kouza .outer .left {
    width: 36%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

#page_post .kouza .outer .right {
    width: 64%;
    padding-top: 20px;
    float: left;
    padding-left: 4%;

    @include sp_only {
        width: 100%;
        padding-left: 0;
        padding-top: 4%;
    }
}

#page_post .list {
    @include padding-bottom(0, 320px);

}

#page_post .partner .link h3 {
    margin-top: 60px;
    font-weight: bold;

    @include sp_only {
        margin-top: 8%;
    }
}

#page_post .partner .link dl a {
    word-break: break-all;
}

#page_post .partner .link dl a:hover {
    text-decoration: underline;
}

#page_post .partner .link dl {
    border-bottom: 1px solid #ccc;
}


#page_post .partner .link dl dt {
    float: left;
    text-align: left;
    width: 240px;
    padding: 10px 20px 10px;

    @include sp_only {
        width: 100%;
        padding: 2% 2% 0;
    }

}

#page_post .partner .link dl dd {
    float: left;
    padding: 10px 20px 10px;

    @include sp_only {
        width: 100%;
        padding: 0 2% 4%;

    }

}

/********************************************************************************
　--post_detail ( スタッフ、チーム紹介 共通)
*********************************************************************************/
#page_post_detail .post_detail .outer {
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 2px solid #ccc;
}

#page_post_detail .post_detail .inner .photo {
    width: 44%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

#page_post_detail .post_detail .inner .text {
    width: 56%;
    float: left;
    padding-left: 4%;

    @include sp_only {
        padding-right: 0;
        width: 100%;
        padding-top: 8%;
    }
}

#page_post_detail .post_detail .inner .text h3 {
    padding-bottom: 10px;
}

#page_post_detail .post_detail .inner .text h3 span.cat {
    background: $keycolor1;
    color: #fff;
    font-size: 14px;
    padding: 7px 14px 6px;
    border-radius: 4px;
    position: relative;
    top: -1px;
}

#page_post_detail .post_detail .inner .text dl {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 12px 0px;

    @include sp_only {
        border-bottom: none;
        padding: 0 0 4%;
    }
}

#page_post_detail .post_detail .inner .text dl dt {
    width: 20%;
    float: left;
    background: #C69C6D;
    color: #fff;
    text-align: center;
    line-height: 1.7;
    @include size(12, 14);

    @include sp_only {
        width: 100%;
        padding: 3px 0;
    }

}

#page_post_detail .post_detail .inner .text dl dd {
    line-height: 1.7;
    width: 80%;
    float: left;
    padding-left: 15px;

    @include sp_only {
        width: 100%;
        padding-left: 0%;
        padding-top: 2%;
    }
}

#page_post_detail .post_detail .text-box {
    margin-top: 20px;
    background: #F2F2F2;
    padding: 12px;
    line-height: 1.5;

    @include sp_only {
        padding: 4%;
    }
}


#page_post_detail .text-box h3 {
    border-left: 3px solid $keycolor2;
    font-weight: bold;
    @include size(15, 18);
    padding-left: 10px;
    line-height: 1;
    @include margin-bottom(2%, 15px);
}

#page_post_detail .text-box h4 {
    @include size(15, 18);
    font-weight: bold;
    @include margin-bottom(2%, 15px);
    line-height: 1;
}

#page_post_detail .text-box p {
    @include padding-bottom(2%, 15px);
}

#page_post_detail .text-box .bold {
    font-weight: bold;
}



#page_archive .blog .outer {
    width: 100%;
    background: #fff;
    border: 2px solid #ccc;
    @include padding(4%, 40px);
}

#page_archive .blog .outer dl {
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 14px 0;
}

#page_archive .blog .outer dl:first-of-type {
    padding-top: 0;
}

#page_archive .blog .outer dl dt {
    width: 100%;
    display: block;
    vertical-align: middle;

    @include tab_only {
        width: 100%;
        display: block;
    }

    @include sp_only {
        width: 100%;
        display: block;
    }
}


#page_archive dl dt .cat {
    padding: 7px 15px 7px;
    width: 100%;
    display: inline;
    text-align: center;
    color: #fff;
    margin-left: 10px;
    font-size: 12px;
    font-size: 1.2rem;
}

#page_archive dl dt .cat.orange {
    background: #EC7008;
}

#page_archive dl dt .cat.green {
    background: #8FAA61;
}


#page_archive .blog .outer dl dd {
    width: 100%;
    display: block;

    @include tab_only {
        width: 100%;
        display: block;
    }

    @include sp_only {
        display: block;
        width: 100%;
    }
}

#page_archive .blog .outer dl a:hover {
    text-decoration: underline;
    color: $keycolor1;

}

#page_archive .blog .outer dl dd .inner {
    width: 100%;
}

#page_archive .blog .outer .blog_list {
    position: relative;
}

#page_archive .blog .outer .date {
    text-align: left;
    color: #EC7008;
    letter-spacing: 1.5px;
    @include size(13);
}

#page_archive .pdf_list {
    width: 100%;
}

#page_archive .pdf_list li {
    width: 12.5%;
    float: left;
    text-align: center;
    margin-bottom: 4%;
}

@media screen and (max-width:840px) {
    #page_archive .pdf_list li {
        width: 25%;
        margin-bottom: 4%;
    }

}

@media screen and (max-width:420px) {
    #page_archive .pdf_list li {
        width: 50%;
        margin-bottom: 4%;
    }

}

#page_archive .pdf_list li p {
    @include size(13);
}

#page_archive .pdf_list li a:hover img {
    opacity: 0.8;
}

#page_single .news_entry article {
    width: 100%;
    background: #fff;
    border: 2px solid #ccc;
    @include padding(4%, 40px);
}

#page_single .news_entry .entry-header {
    line-height: 2;
}

#page_single .news_entry .entry-date {
    color: #EC7008;
    @include size(13, 15);
}

#page_single .news_entry .entry-title {
    @include size(15, 18);
    font-weight: bold;
}

#page_single .news_entry .linkbtn1 {
    text-align: center;
}

#page_single .entry-content h3 {
    border-left: 3px solid $keycolor2;
    font-weight: bold;
    @include size(15, 18);
    padding-left: 10px;
    line-height: 1;
    @include margin-bottom(2%, 15px);
}

#page_single .entry-content h4 {
    @include size(15, 18);
    font-weight: bold;
    @include margin-bottom(2%, 15px);
    line-height: 1;
}

#page_single .entry-content p {
    @include padding-bottom(2%, 15px);
}

#page_single .entry-content .bold {
    font-weight: bold;
}

#linkbtn-col2 {
    width: 92%;
    margin: 0 auto;

    @include sp_only {
        width: 100%;
    }
}

#linkbtn-col2 .linkbtn a {
    display: inline-block;
    color: #fff !important;
    @include padding(3px 4%, 6px 48px 6px 40px);
    @extend .fsize_s;
    @include vender(transition, all 0.3s ease);
    position: relative;

    @include sp_only {
        padding: 10px 4%;
        width: 70%;
    }
}

#linkbtn-col2 li {
    width: 48%;
    float: left;

    @include sp_only {
        width: 100%;
    }
}

#linkbtn-col2 li:first-of-type {
    margin-right: 4%;

    @include sp_only {
        margin-right: 0;
        margin-bottom: 4%;
    }
}

#linkbtn-col2 .linkbtn a {
    text-align: center;
    border-radius: 7px;
    padding: 8px 0;
    @includ size(13, 16);
    position: relative;
}

#linkbtn-col2 .linkbtn.col1 a {
    border: 1px solid #ff9331;
    background: #ff9331;
    width: 100%;

    &:hover {
        background: #fff;
        color: #ff9331 !important;
        @include vender(transition, all 0.3s ease);
    }
}

#linkbtn-col2 .linkbtn.col2 a {
    border: 1px solid #af8a3b;
    background: #af8a3b;
    width: 100%;

    &:hover {
        background: #fff;
        color: #af8a3b !important;
        @include vender(transition, all 0.3s ease);
    }
}

#linkbtn-col2 .linkbtn a:after {
    position: absolute;
    top: 53%;
    right: 12px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



ul.page_link {
    padding-top: 30px;
}

ul.page_link li a {
    @include size(11, 13);
    display: inline-block;
    padding: 6px 15px 3px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #fefefe;
    text-decoration: none;
    color: #717171;
}

ul.page_link li.next {
    float: right;
}

ul.page_link li.prev {
    float: left;
}
