.spmenu {
	display: none!important;
}
body {
	-webkit-print-color-adjust: exact;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

footer {
	display: none;
}
header {
	display: none;
}
