@charset "utf-8";
@import "base/_config";
@import "base/_mixin";
@import "base/_extend";


header .pcmenu .header_bottom.fixed {
	position: fixed;
	top:0;
    width: 100%;
	z-index: 9999999;
    background: #fff;
}
