@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Oswald);

// サイズ設定
$width_pc : 1040; //PC
$width_tab: 768; //タブレット
$width_sp : 480; //スマートフォン
$width_wrapper : 1000px; // wrapperのサイズ

// 色設定
$bg_body : #fff;

$color_text : #1A1A1A;
$color_link : #1a1a1a;

$keycolor1 : #E77100;
$keycolor2 : #E10615;
$keycolor3 : #f00;

$border_color : #b2b2b2;

// 余白設定
$pd_s_sp : 2%;
$pd_m_sp : 4%;
$pd_l_sp : 6%;

$pd_s_pc : 10px;
$pd_m_pc : 30px;
$pd_l_pc : 50px;

// 文字サイズ設定
$fsize_xl_pc : 24;
$fsize_l_pc  : 20;
$fsize_m_pc  : 16;
$fsize_s_pc  : 14;
$fsize_xs_pc  : 12;

$fsize_xl_sp : 18;
$fsize_l_sp  : 16;
$fsize_m_sp  : 14;
$fsize_s_sp  : 12;
$fsize_xs_sp : 10;

// フォント設定 
$font_family : '小塚ゴシック Pro',"Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
$font_gothic : "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Verdana, "ＭＳ ゴシック", Osaka-mono, sans-serif;
$font_mincho : "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$font_oswald : 'Oswald', sans-serif;
$font_marufork : 'Maru Folk Regular', sans-serif;


