@charset "utf-8";

@import "./config";
@import "./mixin";

//************************************
// ライブラリークラス
//************************************

/* padding */
.pt_s {
    @include padding-top ($pd_s_sp, $pd_s_pc);
}
.pt {
    @include padding-top ($pd_m_sp, $pd_m_pc);
}
.pt_l {
    @include padding-top ($pd_l_sp, $pd_l_pc);
}
.pb_s {
    @include padding-bottom($pd_s_sp, $pd_s_pc);
}
.pb {
    @include padding-bottom ($pd_m_sp, $pd_m_pc);
}
.pb_l {
    @include padding-bottom($pd_l_sp, $pd_l_pc);
}

/* margin */
.mt_s {
    @include margin-top ($pd_s_sp, $pd_s_pc);
}
.mt {
    @include margin-top ($pd_m_sp, $pd_m_pc);
}
.mt_l {
    @include margin-top ($pd_l_sp, $pd_l_pc);
}
.mb_s {
    @include margin-bottom($pd_s_sp, $pd_s_pc);
}
.mb {
    @include margin-bottom ($pd_m_sp, $pd_m_pc);
}
.mb_l {
    @include margin-bottom($pd_l_sp, $pd_l_pc);
}



/* font-size */

.fsize_xl{
    @include size($fsize_xl_sp,$fsize_xl_pc);
}
.fsize_l {
    @include size($fsize_l_sp,$fsize_l_pc);
}
.fsize {
    @include size($fsize_m_sp,$fsize_m_pc);
}
.fsize_s {
    @include size($fsize_s_sp,$fsize_s_pc);
}
.fsize_xs {
    @include size($fsize_xs_sp,$fsize_xs_pc);
}


/* テキスト用BOX pタグの下に改行が入る。 */
div.textbox p{
    margin-bottom: 1em;
    &:last-child{
        margin-bottom: 0;
    }
}